#main {
}
* {
    font-family: "Roboto";
}

.cardcontainer {
    margin: auto;
    margin-top: 5rem;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;
    width: 80%;
}

.imgCard {
    border-radius: 10%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    align-content: center;
    margin: 1rem;
    transition: all 0.2s ease-in-out;
}
.card:hover {
    transform: scale(1.1);
}

.imgOverview {
    object-fit: cover;
    display: relative;
}

.imgModal {
    /* object-fit: cover; */
    display: relative;
    width: 30rem;
    height: 30rem;
}

.inputfile {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

.inputfile + label {
    font-size: 1.25em;
    font-weight: 400;
    color: black;
    background-color: #ffc93c;
    display: inline-block;
    padding: 0.5em;
    border-radius: 5%;
    box-shadow: 0.1em 0.1em 0.1em rgba(50, 50, 50, 0.75);
}

.inputfile:focus + label,
.inputfile + label:hover {
    background-color: #ffc107;
}

.inputfile + label {
    cursor: pointer;
}

.uploadForm {
    display: inline-flex;
    width: 33%;
}
.commentForm {
    display: inline-flex;
    width: 33%;
}

.modal-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #155263;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 60%;
    height: 80%;
    margin: auto;
    padding-top: 2rem;
    overflow-y: auto;
}

.modal-container > img {
    /* height: 600px;
    width: 60%;
    border: 3px solid darkgray;
    border-radius: 0;
    margin-top: 50px; */
}

body {
    background-color: #ff9a3c;
    background-size: cover;
    background-position: center;
    margin: 0;
}

.commentList {
    width: 30%;
}
.singleComment {
    justify-content: center;
    border-bottom: 0.1rem #ffc93c solid;
}

::-webkit-scrollbar {
    display: none;
}
